Flask
gunicorn
Flask-Cors
Flask-JWT-Extended
python-dotenv
pymongo
flask-pymongo
pytesseract
bcrypt
flask-socketio  
eventlet
fpdf
docx2pdf
google-generativeai
Pillow 
PyPDF2 
docx2txt 
PyMuPDF
Flask
google-generativeai
python-dotenv
python-docx
reportlab